* {
    padding: 0px;
    margin: 0;
}

// footer
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;

    h2 {
        position: relative;
        text-align: center;
        color: #333;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 60px;
            height: 1px;
            background: #129CF3;
            margin-left: -30px;
        }
    }

    p {
        color: #333;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
        margin-top: 45px;
    }
}

.header {
    background: url(../images/header-bg.jpg) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);

    .logo {
        padding-bottom: 50px;
    }

    .header-text {
        h1 {
            color: #fff;
            font-size: 35px;
            font-weight: 300;
            line-height: 45px;
            padding-top: 30px;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-size: 17px;
            line-height: 28px;
            font-weight: 300;
        }
    }

}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;

}

.btn {
    color: #1274B1;
    font-weight: 300;

    &-download,
    &-download:focus,
    &-download:active,
    &-download:visited {
        background: transparent;
        border-color: #129CF3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 19px;
        text-transform: uppercase;
        border-radius: 3px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
    }

    &-download:hover {
        background-color: #129CF3;
        color: #fff;
    }

    &-tour,
    &-tour:focus,
    &-tour:active,
    &-tour:visited {
        color: #A9adb0;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 500;
        background: transparent;
        transition: all 1s;
    }

    &-tour:hover {
        color: #fff;
    }

    &-tour {
        i {
            font-size: 20px;
            padding-left: 5px;
            color: #129CF3;
        }
    }
}


.header-iphone {
    img {
        width: 100%;
    }
}

//    About us  
.choose-us-wrapper {
    padding-top: 50px;

    .about-iphone {

        img {
            margin-top: 8px;
        }
    }

    .choose-us-title {
        padding-bottom: 50px;

        h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 30px;
            line-height: 37px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 70px;
                height: 1px;
                background: #129CF3;
            }
        }

        p {
            margin-top: 40px;
            font-size: 19px;
            line-height: 24px;
        }
    }

    .choose-us {

        &-item {
            position: relative;
            padding-bottom: 4px;
            padding-left: 80px;

            div {
                position: absolute;
                top: 0;
                left: 0;

                i {
                    font-size: 55px;
                    color: #129CF3;
                    transition: all 1s;
                }
            }

            h3 {
                color: #343434;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 800;
            }

            p {
                color: #727272;
                font-size: 15px;
            }
        }

    }

}

//  Testimonials   
.testimonial {
    background: url("../images/testimonial-bg.jpg") 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &-overlay {
        background: rgba(31, 31, 31, 0.75);
        padding: 80px 0;

        .carousel {

            &-indicators {
                bottom: -50px;

                li {
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                }
            }

            &-item {
                img {
                    border: 2px solid #129CF3;
                    border-radius: 50%;
                    padding: 3px;
                }
            }
        }

    }

    &-caption {
        padding-bottom: 30px;

        h2 {
            color: #129CF3;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            margin-top: 25px;
        }

        h4 {
            color: #129CF3;

            span {
                color: #D8D8D8;
                font-style: italic;
                font-weight: 300;
            }
        }

        p {
            color: #D8D8D8;
            font-size: 18px;
            line-height: 27px;
            padding-top: 50px;
        }
    }
}

//    Feature
.features-inner-wrapper {
    padding: 30px 0 70px 0;

    .left-feature-item {
        position: relative;
        padding-right: 90px;
        margin: 35px 0 65px 0;
        text-align: right;

        &-icon {
            position: absolute;
            right: 0;
            top: -8px;
            font-size: 40px;
            color: #129CF3;
            width: 90px;
            height: 90px;
            text-align: center;
        }

        h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 21px;
            color: #333;
        }

        p {
            color: #333;
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
        }

    }

    .feature-iphone {
        img {
            width: 100%;
        }
    }

    .right-feature-item {
        position: relative;
        padding-left: 90px;
        margin: 35px 0 65px 0;
        text-align: left;

        &-icon {
            position: absolute;
            left: 0;
            top: -8px;
            font-size: 40px;
            color: #129CF3;
            width: 90px;
            height: 90px;
            text-align: center;
        }

        h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 21px;
            color: #333;
        }

        p {
            color: #333;
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
        }
    }
}

// Purchase Now
.purchase-now {
    background-color: #1a1a1a;
    padding: 100px 0;

    p,
    a {
        color: #dfdfdf;
        font-size: 18px;
        font-weight: 300;
    }

    .btn,
    .btn:active,
    .btn:visited,
    .btn:focus {
        background-color: #129CF3;
        border: 1px solid #129CF3;
        color: #fff;
        border-radius: 3px;
        padding: 15px;
        text-transform: uppercase;
        transition: all 1s;
    }

    .btn:hover {
        background-color: #1274B1;
        border-color: #316B90;
    }
}

// Counter
.counter {
    background: url("../images/counter-bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .counter-overlay {
        padding: 120px 0;
        background: rgba(0, 0, 0, .4);

        .counter-item {
            i {
                color: #129CF3;
                font-size: 60px;
            }

            h2 {
                font-family: "Source Sans Pro", sans-serif;
                color: #D7DADB;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 35px;
                margin: 15px 0 1px 0;
            }

            p{
                color: #D7DADB;
                font-size: 20px;
                margin-top: 0px;
                font-weight: 300;
                text-transform: uppercase;
                font-family: "Source Sans Pro", sans-serif;
            }
        }
    }
}